<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Agus Richard">
	<meta name="description" content="Top Navigation">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Top Navigation</title>
</head>
<body>
<div class="topnav">
	<a href="#home" class="active">Home</a>
	<a href="#home">News</a>
	<a href="#home">Contact</a>
	<a href="#home">About</a>
</div>
<script src="script.js"></script>
</body>
</html>