<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Agus Richard">
	<meta name="description" content="sometitle">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Responsive Navbar 2</title>
</head>
<body>
  <header>
    <div class="jumbotron">
      <div>
        <h1>Title</h1>
        <p>Some subtitle that is cool</p>
      </div>
    </div>
    <nav class="navbar">
      <div class="container">
        <ul>
          <li class="left"><a href="">Main Box 1</a></li>
          <li class="left"><a href="">Main Box 2</a></li>
          <li class="left"><a href="">Main Box 3 ></a>
            <ul>
              <li><a href="">Inner Box 1</a></li>
              <li><a href="">Inner Box 2</a></li>
              <li><a href="">Inner Box 3</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="right"><a href="">Main Box 4</a></li>
          <li class="right"><a href="">Main Box 5</a></li>
        </ul>
      </div>
    </nav>
  </header>


	
<script src="script.js"></script>
</body>
</html>