<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Agus Richard">
	<meta name="description" content="Modal Images">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Modal Images</title>
</head>
<body>
	<h1>Learning about Modal Images</h1>
	<p>Click to see the modal effect</p>

	<img src="image.jpg" alt="Image" id="picture">

	<div id="modal" class="modal">
		<span class="close">&times;</span>
		<img class="modal-img" id="img01">
		<div id="caption"></div>
	</div>

	
<script src="script.js"></script>
</body>
</html>